html, body, .main {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #F1F1F1;
}

#header {
	text-align: center;
	width: 100%;
	margin-top: -20px;

	.info {
		.social-media {
			a.icon {
				color: #CCCCCC;

				&:hover {
					color: #999999;
				}
			}
		}
	}
}

ul.tabs-titles {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #CCCCCC;
	background-color: #F1F1F1;
	display: table;
	table-layout: fixed;
	text-align: center;
	width: 100%;

	li {
		text-align: center;
		display: table-cell;
		width: 25%;
		height: auto;
		margin: 0;
		padding: 0;

		a {
			display: block;
			min-height: 100%;
			color: black;
			text-align: center;
			margin: 0;
			padding: 16px 0;
			text-decoration: none;
			transition: 0.3s;
			font-size: 17px;

			&:hover {
				background-color: #DDDDDD;
			}
		}
	}
}

.active {
	background-color: #CCCCCC;
}


.content {
	text-align: center;
	background-color: white;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #CCCCCC;
}

.footer {
	position: relative;
	right: 0;
	left: 0;
	bottom: 0;
	text-align: center;
	background-color: #F1F1F1;
	padding: 0;
	margin: 0;
}