.header {
	text-align: center;

	.social-media {
		a.icon {
			color: #CCCCCC;

			&:hover {
				color: #999999;
			}
		}
	}
}

ul.tabs-titles {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #CCCCCC;
	background-color: #F1F1F1;
	display: table;
	table-layout: fixed;
	text-align: center;
	width: 100%;

	li {
		text-align: center;
		display: table-cell;
		width: 25%;
		height: auto;
		margin: 0;
		padding: 0;

		a {
			display: block;
			min-height: 100%;
			color: black;
			text-align: center;
			margin: 0;
			padding: 16px 0;
			text-decoration: none;
			transition: 0.3s;
			font-size: 17px;

			&:hover {
				background-color: #DDDDDD;
			}
		}
	}
}

.active {
	background-color: #CCCCCC;
}


.content {
	text-align: center;
}
